.left_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;

    color: rgb(179, 179, 179);
    font-weight: 600;
    padding: 0 14px;
}

.fa-plus {

}

.text_lib {
    font-size: 1.2rem;

    color: white;
}

.plus {
    display: flex;
    justify-content: space-around;
    gap: 4px;
    border-radius: 25px;
    padding: 11px 13px;
    background: #2A2A2A;
}

.create_lib {
    color: white;

}

.left_container_wrapper {
    height: 100%;
}

.container_boss_lib {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 11px;
    height: 100%;
}

.box_container_lib {
    background-color: #1F1F1F;
    border-radius: 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;

}

.lib_cont_head {
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.lib_cont_sub_head {
    font-size: 0.85rem;
    color: white;
}

.create_playlist {
    margin-top: 6px;
    border-radius: 50px;
    border: none;
    width: fit-content;
    padding: 0 1rem;
    height: 2.5rem;
    align-items: normal;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

}

.left_footer {
    color: #AEB3B3;
    font-size: 12px;

    height: 30vh;
    padding: 0 1rem;
}
.left_footer_pages li{
    list-style: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.left_footer_pages li:hover,.left_footer_cookies:hover{
    text-decoration: underline;
}
.left_footer_pages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 10px;
}
.left_footer_cookies{
    font-size: 14px;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
}

.left_footer_button{
    margin-right: auto;
    margin-top: 1rem;
    width: 5rem;
    justify-content: space-around;
    gap: 10px;
    border-radius: 25px;
    padding: 11px 13px;
    background: #2A2A2A;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    text-align: center;
    font-size: 0.9rem;
}

.left_footer_button:hover{
    outline: 1px solid wheat;
    background-color: #121212;

}