main {
    height: calc(100vh - 4.5rem);
    display: flex;
    justify-content: space-around;
    gap: 8px;
    width: 100vw;
}

.left_section {
    border-radius: 10px;
    background-color: #121212;
    flex: 1.24;
    position: relative;

}

.right_section {
    border-radius: 10px;
    background-color: #121212;
    flex: 3;
}


@media (max-width: 768px) {


    .left_section {
        display: none !important;
    }

    .right_section {
        flex: 1;
    }
}