.play {
    position: absolute;
    bottom: 3rem;
    color: white;
    /* background-color: palevioletred; */
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.play_wrapper {
    background-color: #2A2A2A;
    align-items: center;
    display: flex;
    padding: 0 1.5rem 0 0.45rem;
    border-radius: 50px;
    gap: 16px;
}


.img_play img {
    height: 3.8rem;
    width: 3.8rem;
    object-fit: cover;
    border-radius: 100%;
}

.play_contents {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 14rem;
    
}

.play_text {
    width: 100%;
    font-size: 0.94rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 3px;
}

#progressbar {
    appearance: none;
    height: 3px;
    cursor: pointer;
    border-radius: 25px;

}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: rgb(24, 196, 24);
    border-radius: 100%;
    transition: all ease-in-out 0.1s;
}

#progressbar::-webkit-slider-thumb:hover {
    transform: scale(1.3);
}