.right_section {}

.wrap {
    padding: 10px;
    width: 90%;
    margin: auto;
    height: 10vh;
    color: white;

}

.trending_songs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.text_trending_songs {
    font-size: 1.5rem;
    font-weight: 700;
}

.text_showall {
    font-size: 12px;
    font-weight: 700;
}

.music_card img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.music_card {
    width: 10rem;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.music_card:hover {
    background-color: #222222;
}
.music_play_btn{
    position: absolute;
    z-index: 10;
    font-size: 2.5rem;
    color: rgb(24, 196, 24);
    border-radius: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 1rem;
    transform: translate(127px, -42px);
    opacity: 0;
    transition: all ease-in 0.2s;
}
.music_play_btn:hover{
    transform: translate(127px, -48px);
    opacity: 1;
}
.img_title{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.img_desc{
    color: #AEB3B3;
    font-size: 0.73rem;
}